<h1>投稿する</h1>

<!--エラーメッセージを表示-->
<% @post.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>

<%= form_tag("/posts/create", {multipart: true}) do %>
    <textarea name="content"><%= @post.content %></textarea>
    <p>画像</p>
    <input name="image" type="file"></input>
    <input type="submit" value="投稿"></input>
<% end %>

<%= link_to("キャンセル", "/posts/index") =%>